Source: jiocloud-ssl-certificate
Section: admin
Priority: optional
Maintainer: Soren Hansen <Soren.Hansen@ril.com>
Build-Depends: debhelper (>= 8)
Standards-Version: 3.9.5
Homepage: https://github.com/JioCloud/puppet-rjil

Package: jiocloud-ssl-certificate
Architecture: all
Depends:
 openssl
Description: Fake cert package for JioCloud for testing
 This package contains a set of fake, self-signed certificates for
 JioCloud.
